<%- include('parts/header') %>
<body>
    <% let widthError = validationErrors.find(err => err.param === 'width') %>
    <% let heightError = validationErrors.find(err => err.param === 'height') %>
    <% let filenameError = validationErrors.find(err => err.param === 'filename') %>
    <% let f=0; %> 
    <% if(widthError){ %> 
        <% f=1; %> 
        <p class="alert alert-danger">
            <%= widthError.msg %> 
        </p>
    <% }if(heightError){ %> 
        <% f=1; %> 
        <p class="alert alert-danger">
            <%= heightError.msg %> 
        </p>
    <% } if(filenameError){ %> 
        <% f=1; %> 
        <p class="alert alert-danger">
            <%= filenameError.msg %> 
        </p>
    <% } if(thumbnail&&!f){ %> 
        <img src="http://localhost:3000/images/thumbnails/<%= thumbnail %>">
        <!-- <% //console.log(output+ "\\"+ thumbnail) %> 
        <img src=<%= //output+ "\\"+ thumbnail %> > -->
    <% } %>

<%- include('parts/footer')%>